@import "tailwindcss";

:root {
	--color-base: #151515;
	--color-surface-soft: #121212;
	--color-surface-code: #101010;
	--color-surface: #252525;
	--color-fg: #ffffff;
	--color-fg-soft: #929292;
	--color-line: #222222;
	--color-highlight: #aafee7;
}

@theme {
	--color-base: var(--color-base);
	--color-surface-soft: var(--color-surface-soft);
	--color-surface-code: var(--color-surface-code);
	--color-surface: var(--color-surface);
	--color-fg: var(--color-fg);
	--color-fg-soft: var(--color-fg-soft);
	--color-line: var(--color-line);
	--color-highlight: var(--color-highlight);
	--spacing-article: 33.75rem;
	--radius-2: 0.125rem;
}

@utility hide-scrollbars {
	&::-webkit-scrollbar {
		display: none;
	}
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE and Edge */
}

body {
	background-color: var(--color-base);
	color: var(--color-fg);
	font-family: "IBM Plex Mono", monospace;
	font-size: 0.75rem;
}

a {
	color: var(--color-fg-soft);
	@apply hover:underline;
}

article > p > a {
	@apply underline;
}

hr {
	border: none;
	border-top: 1px solid var(--color-line);
	margin: 0;
}

ol ol {
	counter-reset: item;
	padding-left: 2rem;
}

ol {
	list-style: none;
	counter-reset: item;
	display: table;
	width: 100%;
}

ol li {
	counter-increment: item;
	display: table-row;
}

ol li::before {
	content: counter(item) ". ";
	display: table-cell;
	text-align: right;
	padding-right: 0.5rem;
	width: 1%;
	white-space: nowrap;
}

.shiki code .line {
	@apply pr-8;
}

.show-line-numbers pre code {
	counter-reset: line;
}

.show-line-numbers pre code .line {
	counter-increment: line;
	display: inline-block;
	width: 100%;
}

.show-line-numbers pre code .line::before {
	content: counter(line);
	display: inline-block;
	width: var(--line-number-width, 1.5rem);
	text-align: right;
	margin-right: 1rem;
	color: var(--color-fg-soft);
	opacity: 0.4;
	user-select: none;
}

h2 {
	@apply uppercase mt-8;
}
